/* body{
  padding: 500px 100px;
} */
.main{
  width: 100%;
  background: linear-gradient(to top,
   rgba(0, 0, 0, 0.5)100%, rgba(0, 0, 0, 0.5)100%),
    url(https://mtrend.vn/wp-content/uploads/2019/05/hinh-nen-galaxy-may-tinh.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}
h1{
  color: rgb(226, 226, 231);
  /* width: 100%; */
  text-align: center;
  font-size: 100px;
  margin: 0px 150px auto;
  font-family: Arial;
}
.grid {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: center;
  height: center;
  /* border: 5px solid #dcd6bc; */
  padding: 15px 0px;
  display: block;
}
h3{
  /* width: 100%; */
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  color: rgb(226, 226, 231);
}
/* a{
  display: flex;
} */
a{
  text-decoration: none;
  list-style: none;
  color: rgb(226, 226, 231);
}
button{
  color: rgb(226, 226, 231);
  align-content: center;
  flex-wrap: wrap; 
  font-size: 20px;
  text-decoration: none;
    list-style: none;
   font-weight:lighter;
    width: 160px;
    height: 40px;
    background: tomato;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 4s ease;
}
